# Git ignore file
node_modules/
.env
.env.local
.DS_Store
/.pnp
.pnp.js
/build
/dist
.next
out/
.cache/
.parcel-cache
.eslintcache
.yalc.lock
.yalc
.npm
/.yarn/cache
/.yarn/unplugged
/.yarn/build-state.yml
/.yarn/install-state.gz
.pnp.*
